.country{
  border: 2px solid chartreuse;
  padding: 16px;
  
}
#root{
  margin: 0 auto;
}
.visitedFlags{
  border: 3px solid fuchsia;
  padding: 16px;
  display:grid;
  grid-template-columns: repeat(16,1fr);
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.visitedFlags img{
  width: 120px;
  height: 80px;
}